<ng-include src="'views/common/header.html'"></ng-include>
<div class="container" style="margin-top: 50px;">
	<div class="row" style="margin-top: 30px; background: #e8e8e8;">	
		<div class="col-sm-12 col-md-12" style="margin-bottom: 0px; padding: 0px;">
			<div class="step-1">
				<div class="col-sm-4 col-md-4 circle">
					<h1 class="number cblue">1</h1>
				</div>
				<div class="col-sm-8 col-md-8">
					<h2 class="cwhite">¿EN DÓNDE ESTOY?</h2>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12">
			<div class="col-md-12 step-wrap">
				<div class="col-sm-12 col-md-6">
					<div class="col-md-12">				
						<div id="specificChart" class="porcent donut-size">
					      <div class="pie-wrapper">
					        <span class="label">
					          <span class="{{colors[0].out}} num">0</span><span class="{{colors[0].out}} smaller">%</span>
					        </span>
					        <div class="pie">
					          <div class="left-side half-circle {{colors[0].out}}"></div>
					          <div class="right-side half-circle {{colors[0].out}}"></div>
					        </div>
					        <div class="shadow {{colors[0].in}}"></div>
					      </div>
					    </div>
						<div style="text-align: center;">
							<h4 style="text-align: center;"><b>Porcentaje</b></h4>
							<p class="text-porcent">{{where}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="col-md-12">
						<iframe style="margin-left: 16.333%; margin-top: -70px;" width="360" height="315" src="https://www.youtube.com/embed/XgF-mGhodPI" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="row" style="margin-top: 0px;">
		<div class="col-md-6" style="padding-right: 0px; background-color: #fff;">			
			<div style="height: 134px; padding: 20px;">
				<div class="col-sm-4 col-md-4 circle circle-blue">
					<h1 class="number cwhite">2</h1>
				</div>
				<div class="col-sm-8 col-md-8">
					<h2>¿QUÉ ME FALTA?</h2>
				</div>
			</div>
			<div class="col-md-12 center">			
				<img src="/content/images/{{home[0].icon1}}" class="building">			
				<img src="/content/images/{{home[0].icon2}}" class="building" style="margin-left: -55px;">
				<img src="/content/images/{{home[0].icon3}}" class="building" style="margin-left: -55px;">
				<img src="/content/images/{{home[0].icon4}}" class="building">
				<h4 style="text-align: center;"><b>Tu nivel de progreso</b></h4>
				<p class="text-porcent">{{miss}}</p>
			</div>		
		</div>
		<div class="col-md-6" style="padding-left: 0px; background-color: #4468b2;">			
			<div class="col-md-12" style="height: 140px; padding: 20px;">
				<div class="col-sm-8 col-md-8">
					<h2 class="cwhite">TIPS PARA TU EMPRESA</h2>
				</div>
				<div class="col-sm-4 col-md-4 circle">
					<h1 class="number cblue">3</h1>
				</div>				
			</div>
			<div class="col-sm-12 col-md-12">
				<div class="col-sm-12 col-md-12" ng-repeat="t in tip">
					<img  class="col-sm-3 col-md-3" src="/content/images/{{t.icon}}">
					<p  class="col-sm-9 col-md-9" style="margin-top: 30px;">{{t.tip}}</p>
				</div>				
			</div>					
		</div>	
	</div>
	<div class="row" style="margin-top: 0px; background: #ddd;">	
		<div class="col-md-4" style="text-align: center;">
			<div class="col-md-8" style="background: #fff; margin-left: 60px; margin-top: 80px; padding: 10px;">
				<h1>PLAN</h1>
				<p  class="col-md-12">Sobre la gestión documental se deben mantener los documentos, los registros y las evidencias, recuerda que pueden ser visuales, electrónicas o físicas, lo que sea más óptimo para cada uno de los procesos.</p>
				<button class="btn btn-info btn-buy">Comprar</button>
			</div>			
		</div>
		<div class="col-md-8">			
			<img src="/content/images/mockups.png" style="width: 100%; height: 100%;">
		</div>		
	</div>
	<div class="row" style="background: #f3f2f8; margin-top: 0px;">
		<div class="col-md-6">
			<img src="/content/images/danda_footer.png" style="width: 300px; padding: 20px;">
		</div>
		<div class="col-md-6" style="margin-top: 30px;">
			<div class="col-md-6">
				<h5>Teléfono: 42563265</h5>
				<h5>Web: www.danda.com.co</h5>
				<h5>Dirección: Calle 18 # 122-50</h5>
			</div>
			<div class="col-md-6">
				<!--h5><b>Noticias</b></h5-->
			</div>
		</div>
	</div>
<div>
<script type="text/javascript">
	updateDonutChart('#specificChart', 57, true);
</script>