<div id="home">
	<nav class="navbar navbar1 navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding:10px;" href="#"><img src="/content/images/logo01.png" width="100"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#include').offset().top}, 1200);">¿Qué Incluye?</a></li>
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#activity').offset().top}, 1200);">Actividades Presenciales</a></li>
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#mes').offset().top}, 1200);">Inversión</a></li>
            <li style="border-radius:50px; background:#00a9ff; height:35px; width:150px; margin-top:5px">
            	<a class= "textbar center" ui-sref="test({id:'1'})" style= "margin-top: -5px">Autoevaluación</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container">
			<div class="center texth" style="color: #fff;">
					<h1>Programa de Implementación <br> Online-Offline</h1>
			<p>¡Está a u paso de tomar una excelente decisión para su empresa!</p>
			</div>
		</div>
	</div>
</div>
<div id="include">
	<div style="height: 25px; background: #ff4c43; "></div>
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<h1 class="center txt-data">Esta poderosa herramienta incluye <hr class="line"></h1>
				<div class="col-md-6" style="padding: 0px 0px 0px 80px;">
					<h2 class="txtblue">Hemos crado una plataforma que le permite a la empresa de una manera más sencilla realizar de manara ecónomica, la forma de implementar un sistema de gestión.</h2>
				</div>
				<div class="col-md-6">
					<img src="content/images/desk.png" width="400">
				</div>	
			</div>	
		</div>
	</div>
	<div style="height: 40px; background: #6dbcc1"></div>
</div>
<div id="process">
	<div class="container">
		<div class="row">
			<div class="col-md-3 center">
				<img src="content/images/edit.png" width="180">
				<div class="lblbox"><h4>MAPA DE PROCESOS</h4></div>
			</div>
			<div class="col-md-3 center">
				<img src="content/images/edit.png" width="180">
				<div class="lblbox"><h4>CARACTERIZACIÓN</h4></div>
			</div>
			<div class="col-md-3 center">
				<img src="content/images/edit.png" width="180">
				<div class="lblbox"><h4>PROCEDIMIENTO</h4></div>
			</div>
			<div class="col-md-3 center">
				<img src="content/images/edit.png" width="180">
				<div class="lblbox"><h4>FORMATOS</h4></div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 15px;">
		<div class="line-step"><h4 class="center step">10 a 12 - Formatos Genéricos de Soporte</h4></div>
		<div class="line-stepb"><h4 class="center step">2 - Formato de Análisis</h4></div>
		<div class="line-step"><h4 class="center step">2 a 4 - Formato de evaluación</h4></div>
		<div class="line-stepb"><h4 class="center step">2 a 4 - Formato de Inspección</h4></div>
		<div class="line-step"><h4 class="center step">1 -  Formato Hoja de Vida Equipos</h4></div>
	</div>
</div>
<div id="activity" style="background: #efefef;">
	<div class="container">
		<div class="row">
			<h1 class="center txt-data">Actividades Presenciales<hr class="line"></h1>
		</div>
		<div class="row">
			<div class="col-md-12" style="padding: 20px;">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-12">
							<div class="circle-red  col-md-1"></div>
							<h5 class="col-md-8 center txt-data">Entrenamientos Presenciales <hr class="line-process"></h5>
							<h4 class="col-md-3 txthour">4 horas</h4>
						</div>
						<div class="col-md-12">
							<div class="circle-red  col-md-1"></div>
							<h5 class="col-md-8 center txt-data" style="margin-top: -8px;">Auditoria Interna Presencial <br> (Incluye Informe de Auditoria Interna) <hr class="line-process"></h5>
							<h4 class="col-md-3 txthour">8 horas</h4>
						</div>
						<div class="col-md-12">
							<div class="circle-red  col-md-1"></div>
							<h5 class="col-md-8 center txt-data">Visitas de Monitoreo Presenciales <hr class="line-process"></h5>
							<h4 class="col-md-3 txthour">2 horas</h4>
						</div>
						<div class="col-md-12">
							<div class="circle-red  col-md-1"></div>
							<h5 class="col-md-8 center txt-data">Horas de Consultoria Virtual <hr class="line-process"></h5>
							<h4 class="col-md-3 txthour">1 horas</h4>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<div id="mes" style="height: 310px;">
	<div class="container">
		<div class="row">
			<h1 class="center txt-data">Inversión Mensual<hr class="line"></h1>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="center" style="background: #6bbbc1; color: #fff;padding: 20px; border-radius: 10px;">
					<h1>$300.000 pesos</h1>
					<h1>Inversión Mensual</h1>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<div id="subscribe" style="background: #ff4c43">
	<div class="container">
		<div class="row">
			<h2 class="center" style="color: #fff;">Reciba información acerca de lo que podemos hacer por su empresa</h1>
		</div>
		<div class="row">
			<div class="col-md-12 center">
				<input class="input-subs" placeholder="Ingrese su correo electronico"></input>	
				<button class="btn-subs">Subscribirse</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/phone.png">
						<h4>+ 57 315 521 3534</h4>
						<p>Contacto Personalizado<p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/email.png">
						<h4>gerencia@isikene.com</h4>
						<p>Escribanos sus inquietudes<p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/address.png">
						<h4>Calle 18 Nro. 122 - 135 <br> Cali, Colombia</h4>
						<p>Oficina Pricipal<p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer style="background: #f1433a; height: 80px;">
	<div class="col-md-10 center" style="margin-top: 20px;">
		<h4 style="color: #fff;">Copyright  © 2017</h4>	
	</div>
	<div class="col-md-2">
		<span style="color: #fff;">Power By:</span>
		<img src="content/images/logo-data.png" width="150">	
	</div>	
</footer>

<script type="text/javascript">

$(window).scroll(function() {
  if ($(document).scrollTop() > 50){
   console.log("Funciona")
   	$('nav').removeClass('navbar1');
    $('nav').addClass('shrinkbar');
  } else {
    $('nav').removeClass('shrinkbar');
    $('nav').addClass('navbar1');
  }
});
</script>