<!-- Fixed navbar -->
   <div id="page_wrapper">
   <ng-include src="'views/common/header.html'"></ng-include>
    <div ng-controller="AskController">
   <div style="background:#fff; margin-top:50px;">
     <div class="container">
       <div class="row">
          <div class="col-md-12 box">
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <div class="categories">
                Contexto de Organización
              </div>
              <div class="progress progress-item">
                  <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress_co}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="categories">
                Liderazgo en la Empresa
              </div>
              <div class="progress progress-item">
                  <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress_le}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="categories">Actividades de Soporte</div>
              <div class="progress progress-item">
                  <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress_as}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="categories">Actividades de Operación</div>
              <div class="progress progress-item">
                  <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress_ao}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="categories">Mejoramiento</div>
              <div class="progress progress-item">
                  <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress_m}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
       </div>
     </div>
    </div>
      <div class="container">
        <div class="row" ng-if="question != null">
          <div class="col-md-12">
            <div class="col-md-6" style="padding: 40px;">
              <h3><b>{{question.question}}</b></h3>
            </div>
            <div class="col-md-6 answers">
              <div class="answer" ng-click="answer(question.id,0)"><h4><b>a.</b> No existente, no implementado</h4></div>
              <div class="answer" ng-click="answer(question.id,25)"><h4><b>b.</b> Establecido (y documentado)</h4></div>
              <div class="answer" ng-click="answer(question.id,50)"><h4><b>c.</b> Implementado (hay evidencias iniciales)</h4></div>
              <div class="answer" ng-click="answer(question.id,75)"><h4><b>d.</b> Mantenido (hay registros existentes)</h4></div>
              <div class="answer" ng-click="answer(question.id,100)"><h4><b>e.</b> En mejora continua (alto nivel de madurez)</h4></div>
              <!--div class="answer" ng-click="answer(question.id,0)"><h4>No Aplica</h4></div-->
            </div>
            <div class="col-md-12" style="padding: 0px;">
                <div class="progress progress-general" style="height: 15px !important;">
                    <div  class="progress-bar progress-bar-blue" role="progressbar" style="width: {{progress}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
          </div>
        </div>
        <div ng-if="question == null">
          <div class="row" ng-if="!data_user">
            <div class="col-md-10" style="margin-left: 16.666%;">
              <div class="col-md-3">
                <img src="content/images/icono-data.png" width="200"style="margin-top: 15px;">
                <img src="content/images/logo-data.png" style="width: 160px; margin-top: 105px;">
              </div>
              <div class="col-md-7">
                <form  name="basicForm" role="form" ng-submit="showResult(basicForm)">
                  <h2 class="txt-data">¿Quieres ver tus resultados y comprender en que estado te encuentras?</h2>
                  <h4 class="txt-data">Ingresa tus datos y a continuación revisa tu resultado</h4>       
                    <div class="form-group col-md-6" style="padding: 0px;">                 
                     <input type="test" class="form-control input-data" ng-model="credentials.name" id="name" aria-describedby="emailHelp" placeholder="Nombre Completo" required>            
                    </div>
                    <div class="form-group col-md-6" style="padding: 0px 0px 0px 5px;">                 
                     <input type="test" class="form-control input-data" ng-model="credentials.company" id="company"  placeholder="Empresa" required>            
                    </div>               
                  <div class="form-group">                 
                   <input type="email" class="form-control input-data" ng-model="credentials.email" id="email" aria-describedby="emailHelp" placeholder="Escriba su correo electrónico..." required>
                 </div>
                 <button class="btn btn-red btn-block btn-lg mb15" type="submit" data-ng-click="submit()">
                   <span>Sí, quiero recibir mi resultado</span>
                 </button>
                 <button class="btn btn-red btn-no btn-block btn-lg mb15" type="submit" data-ng-click="submit()">
                   <span>No, quiero recibir mi resultado</span>
                 </button>
                </form>
              </div>
            </div>
          </div>        
      </div>
    </div>
  </div>
  </div>