@font-face {
  font-family: 'roboto_black';
  src:url('fonts/roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: 'roboto_italic';
  src:url('fonts/roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: 'roboto_light';
  src:url('fonts/roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'arial_arrow';
  src:url('fonts/Arial_Narrow.rtf');
}
h1{
  font-family: roboto_black;
}
h2,h5{
  font-family: roboto_light;
}
p{
  font-family: roboto_light;
}
#home{
  height: 80vh;
  width: 100%;
  background-image: url("../content/images/home2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.glyphicon {
  line-height:1.7 !important;
  background: #6bbbc1;
  border-radius: 35px;
  height: 35px !important;
  width: 35px !important;
  margin-top: 120% !important;
  }
}
.texth {
    padding-top: 20%;
}
.textbar {
    font-family: roboto_black;
    color: white !important;
    margin-top: px;
}
.shrinkbar {
  height: 55px !important;
  background: #ff4c43 !important;
  border: none !important;
}
.navbar1{
  background: transparent !important; 
  border:none !important;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

}
.answer{
    padding: 7px;
    margin: 0 0 2px 0;
    background: #ecf0f1;
    border: 3px solid #ecf0f1;
    border-radius: 2px;
    color: #5f5f5f;
}
.answer:hover {
    background: #a2ded0;
    border: 3px solid #a2ded0;
    transition: background 550ms ease-out;
    cursor: pointer;
}
.border_none{
  border: none !important; 
}
.orange_out{
  border: .1em solid #e38653 !important;
  color: #e38653 !important;
}
.orange_in{
  border: .1em solid rgba(253, 191, 129, 0.32) !important;
}
.violet_in{
  /*border: .1em solid #bbb3f6 !important;*/
  border: .1em solid rgba(187, 179, 246, 0.59) !important;
}
.violet_out{
  border: .1em solid #625589 !important;
  color: #625589 !important;
}
.blue_in{
  /*border: .1em solid #9fe9e1 !important;*/
  border: .1em solid rgba(159, 233, 225, 0.59)!important
}
.blue_out{
  border: .1em solid #4fdccd !important;
  color: #4fdccd !important;
}
.green_in{
  /*border: .1em solid #a4fddc !important;*/
  border: .1em solid rgba(164, 253, 220, 0.59)!important
}
.green_out{
  border: .1em solid #01b890 !important;
  color: #01b890 !important;

}
.buttonh1{
    width: 150px;
    border-radius: 80px !important;
    border-color: white !important;
    background: #6bbbc1 !important;
}
.center{
  text-align: center;
}
.categories{
  height:63px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  font-family: roboto_black;
  letter-spacing: 1px;
}
.answers{
  background: rgba(0,0,0,0.12);
  padding: 20px;
}
.answer{
  background-color: #fff;
}
.building{
  display: inline-block;
  width: 170px;
  margin-left: -40px;
}
.btn-buy{
  background: #4468b2;
  border: none;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-red{
  background-color: #e34d45;
  color: #fff;
  font-family: roboto_black;
  letter-spacing: 1px;
}
.btn-red:hover{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-no{
  width: 300px;
  float: right;   
}
.box{
  box-shadow: 0 4px 6px -6px #222;
}
.circle{
  border-radius: 50%;
  background: #fff;
  width: 100px !important;
  height: 100px;
  text-align: center;
}
.circle-blue{
  background-color: #4468b2;
}
.circle-red{
  background: #ff4c43;
  border-radius: 200px;
  height: 50px;
  width: 50px !important;
}
.input-data{
  background: #eaeaea;
  border: none;
  font-family: roboto_black;
  letter-spacing: 1px;
  padding: 20px;
}
.input-subs{
    width: 40%;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 7px;
    border-top-left-radius: 10px;
    font-family: roboto_light;
}
.btn-subs{
  font-family: roboto_light;
  background: #6bbbc1;
  color: #fff;
  height: 35px;
  margin-left: -5px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding-right: 30px;
  padding-left: 20px;
}
.line {
    color: #ff4c43;
    margin: 8px 0 0 42.5%;
    width: 10%;
    border-top: 67px;
    border-bottom-style: solid;
    border-bottom-width: 8px;
}
.linehome {
    color: white;
    margin: 0px ;
    width: 4em;
    border-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.line-process{
   color: #e76450;
    margin: 8px 0 0 0;
    width: 100%;
    border-top: 67px;
    border-bottom-style: solid;
    border-bottom-width: 2px; 
}
.lblbox{
  color: #fff;
  padding: 1px;
  background: #ff4c43;
  width: 200px;
  margin-left: 39px;
}
.line-step{
  padding: 10px;
  height: 40px; 
  background: #6dbcc1;
}
.line-stepb{
  padding: 10px;
  height: 40px; 
  background: #b8dddf;
  
}
.step{
  color: #fff;
  margin: 0px;
  font-family: roboto_black;
  letter-spacing: 1px;
}
.txthour{
  background: #ff4c43;
  width: 95px !important;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-family: roboto_black;
}
.txtblue{
  color: #6dbcc1;
}
.txt-data{
  font-family: roboto_black;
  letter-spacing: 1px;
  color: #6dbcc1;
}
.mainView-animate{
  background: #fff;
}

.progress{
  border-radius: 0px !important;
  height: 7px !important;
  background-color: #999 !important;
}
.progress-general{
  padding: 3px !important;
  padding-right: 0px !important;
}
.progress-item{  
  background-color: #ddd !important;
}
.progress-bar-blue{
  background-color: #3bafda !important;
}
.porcent{
    width: 230px;
    margin-left: 28.333%;
    margin-top: -70px;
}
.text-porcent{
  font-style: italic;
  width: 350px;
  margin-left: 80px;
  text-align: center;
}
.texthome1{
  font-weight: bold;
  font-size: 4.5em;
  color: rgb(70, 152, 158);
}
.texthome2{
  font-size: 2em;
  color: white;
}
.num, .smaller{
  border: none !important; 
  font-size: 1.2em !important;
  font-weight: bold;  
  vertical-align: baseline !important;
}
.number{
  font-weight: bold;
  font-size: 4em;
}
.step-wrap{
  background-color: #e8e8e8;
  padding: 20px;
  height: 100%;
}
.step-1{
  background-color: #4468b2; 
  height: 140px; 
  padding: 20px;
}
.cblue{
  color: #4468b2;
}
.cwhite{
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
