html{
  overflow-y: hidden;
  overflow-x: hidden;
}

input.ng-touched.ng-invalid {
    border: 2px #ff0000 solid;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #ff0000;
}

.side_menu_active.side_menu_expanded #main_menu .first_level > a.act_nav {
    background: rgba(0,0,0,.06);
    position: relative;
    color: #222;
}

    .side_menu_active.side_menu_expanded #main_menu .first_level > a.act_nav:after {
        position: absolute;
        top: 50%;
        content: '';
        display: block;
        right: 0;
        border: 9px solid transparent;
        width: 0;
        height: 0;
        border-right-color: #fff;
        margin-top: -9px;
    }



.container, .container-fluid {
    padding-right: 0px;
    padding-left: 0px; 
}

#main_header .header_user_actions {
    line-height: 37px;
}

#main_header .brand_section {
    padding-left: 10px;
}

#main_wrapper {
    padding-top: 6px;
}


.icon-filters{
  position: absolute;
  margin-top: 90px;  
  width: 90px;
  z-index: 1;
}
.display-data{
    position: absolute;
    margin-top: 90px;
    margin-left: calc(100% - 160px);
    padding: 10px;
    background: rgba(255,255,255,0.55);
    z-index: 1;
}
.btn-lg{
    height: 40px;
    background: #20638f;
    border: #20638f;
    border-radius: 0px;
}


/* Loader */
#loading-bar .bar {
    height: 3px;
    background-color: #5DBDE0;
    
}

#loading-bar-spinner {
    overflow: show;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
}

    #loading-bar-spinner .spinner-icon {
        z-index: 10002;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 100px;
        border: solid 4px transparent;
        border-top-color: #5DBDE0;
        border-left-color: #5DBDE0;
    }