<div id="home">
<!-- Scroll to-->

    <!-- BARRA NAVEGACION -->
    <nav class="navbar navbar1 navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding:10px;" href="#"><img src="/content/images/logo01.png" width="100"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#include').offset().top}, 1200);">Servicios</a></li>
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#project').offset().top}, 1200);">Sobre Nosotros</a></li>
            <li><a class= "textbar" href="" onclick=" $('html, body').animate({scrollTop: $('#activity').offset().top}, 1200);">Asi Funciona</a></li>
            <li style="border-radius:50px; background:#00a9ff; height:35px; width:150px; margin-top:5px">
            	<a class= "textbar center" ui-sref="test({id:'1'})" style= "margin-top:-5px">Autoevaluación</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container">
			<div class="center texth" style="color: #fff;">
				<h1>Bienvenido a Danda</h1>
				<h2>la herramienta inteligente más poderosa</h2>
				<p>Que le ayudará a realizar de manera más sencilla todos sus procesos <br> para un óptimo sistema de gestión</p>
			</div>
		</div>
	</div>
<div id="include">
	<div style="height: 25px; background: #ff4c43; "></div>
	<div class="container">
		<div class="row">	
			<div class="col-md-12" style="padding: 20px;">
				<h1 class="center txt-data">Danda le ofrece a su empresa <hr class="line"></h1>
				<div class="col-md-2"></div>	
				<div class="col-md-2 center">
					<img src="content/images/icon_1.png">
					<h4 class="textinclude" style="font-family: roboto_light">Validación de Procesos</h4>
				</div>	
				<div class="col-md-2 center">
					<img src="content/images/icon_2.png">
					<h4 class="textinclude" style="font-family: roboto_light">Analisis de Costo Efectividad</h4>
				</div>	
				<div class="col-md-2 center">
					<img src="content/images/icon_3.png">
					<h4 class="textinclude" style="font-family: roboto_light">Orientación Profesional</h4>
				</div>	
				<div class="col-md-2 center">
					<img src="content/images/icon_4.png">
					<h4 class="textinclude" style="font-family: roboto_light">Paquetes de Informes</h4>
				</div>	
				<div class="col-md-2"></div>
				<div class="col-md-12 center">
					<button class="btn btn-info buttonh1" style="border-color: ##00a9ff" ui-sref="test({id:'1'})">Comienza</button>
				</div>	
			</div>	
		</div>
	</div>	
</div>
<div id="project" style="background: #6bbbc1; padding:20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-4"  style="padding: 20px";>
			    <div class="texthome1" align="center" href=""> 200+ </div>
			    <div class= "texthome2" align="center">Proyectos<hr class="linehome"></div>
			  </div>
			  <div class="col-sm-4"  style="padding: 20px";>
			    <div class="texthome1" align="center" href=""> 32150+ </div>
			    <div class= "texthome2" align="center">Horas<hr class="linehome"></div>
			  </div>
			  <div class="col-sm-4"  style="padding: 20px";>
			    <div class="texthome1" align="center" href=""> 80+ </div>
			    <div class= "texthome2" align="center">Premios<hr class="linehome"></div>
			  </div>
			<div align="center"style="padding: 20px 0px 0px 0px"><button align="center" class="btn btn-info buttonh1" ui-sref="test({id:'1'})">Conoce más</button>  </div>
		</div>
	</div>
</div>
<div id="activity" style="background: #efefef;">
<!-- INICIO CARRUSEL -->
	<div class="container" align="center" style="padding: 20px;">
		<h1 class="center txt-data">Así de fácil funciona<hr class="line"></h1> 
  		<div id="myCarousel" class="carousel slide" data-ride="carousel" style= "width:100%;">
    		<ol class="carousel-indicators">
      			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      			<li data-target="#myCarousel" data-slide-to="1"></li>
      			<li data-target="#myCarousel" data-slide-to="2"></li>
    		</ol>
	    	<div class="carousel-inner">
	      		<div class="item active">
	        		<img src="content/images/computadora3.jpg" alt="Los Angeles" style="width:700px" >
	      		</div>
	      		<div class="item">
	        		<img src="content/images/computadora2.jpg" alt="Chicago" style="width:700px;">
	      		</div>
	      		<div class="item">
	        		<img src="content/images/computadora1.jpg" alt="New york" style="width:700px;">
	      		</div>
	    	</div>
    	<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:transparent;">
      		<span class="glyphicon glyphicon-menu-left" style="margin-right:-150%;"></span>
      		<span class="sr-only">Previous</span>
    	</a>
    	<a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:transparent;">
      		<span class="glyphicon glyphicon-menu-right" style="margin-left:-150%;"></span>
      		<span class="sr-only">Next</span>
    	</a>
  		</div>
	</div>
<!-- FIN CARRUSEL -->
</div>
<div id="mes" align="center">
	<div class="container">
		<div class="row">
			<h1 class="center txt-data">Nuestros Clientes<hr class="line"></h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-2"><img src="content/images/logos_1.png"></div>			
				<div class="col-md-2"><img src="content/images/logos_2.png"></div>
				<div class="col-md-2"><img src="content/images/logos_3.png"></div>
				<div class="col-md-2"><img src="content/images/logos_4.png"></div>
				<div class="col-md-2"><img src="content/images/logos_5.png"></div>				
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>
<div id="subscribe" style="background: #ff4c43">
	<div class="container">
		<div class="row">
			<h2 class="center" style="color: #fff;">Reciba información acerca de lo que podemos hacer por su empresa</h1>
		</div>
		<div class="row">
			<div class="col-md-12 center">
				<input class="input-subs" placeholder="Ingrese su correo electronico"></input>	
				<button class="btn-subs">Subscribirse</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/phone.png">
						<h4>+ 57 315 521 3534</h4>
						<p>Contacto Personalizado<p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/email.png">
						<h4>gerencia@isikene.com</h4>
						<p>Escribanos sus inquietudes<p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center" style="color: #fff;">
						<img src="content/images/address.png">
						<h4>Calle 18 Nro. 122 - 135 <br> Cali, Colombia</h4>
						<p>Oficina Pricipal<p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer style="background: #f1433a; height: 80px;">
	<div class="col-md-10 center" style="margin-top: 20px;">
		<h4 style="color: #fff;">Copyright  © 2017</h4>	
	</div>
	<div class="col-md-2">
		<span style="color: #fff;">Power By:</span>
		<img src="content/images/logo01.png" width="150">	
	</div>	
</footer>

<script type="text/javascript">

$(window).scroll(function() {
  if ($(document).scrollTop() > 50){
   console.log("Funciona")
   	$('nav').removeClass('navbar1');
    $('nav').addClass('shrinkbar');
  } else {
    $('nav').removeClass('shrinkbar');
    $('nav').addClass('navbar1');
  }
});
</script>