﻿<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff; border-color: #fff;">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" style="padding-top: 3px;
    padding-bottom: 0;"href="#"><img src="content/images/danda.png" width="65"></a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <!--li><a href="/">Inicio</a></li>
           <li><a href="../navbar-static-top/">Servicio</a></li>
           <li><a href="../navbar-static-top/">Contactenos</a></li>
           <li class="active"><a href="./">Autoevaluación <span class="sr-only">(current)</span></a></li-->
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
</header>

